{% load static %}
{% static "img/destination" as baseUrl %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travelo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->
    <style>
        body{
            
            height: 100vh;
            
            background: url("{% static 'img/reg/register.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .bg-primary{
    background: linear-gradient(45deg,gray,blue);
}
    .bg-success{
        background: linear-gradient(45deg,gray,limegreen,gray);
    }
    header{
        background-color: #fff;
        margin-bottom: 15px;
    }
    </style>
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header >
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="../">home</a></li>

                                            {% if user.is_authenticated %}
                                            <li>Hello, {{user.first_name}} </li>
                                            <li><a href="logout">Logout</a></li>
                                            {% else %}
                                            
                                            <li><a href="register">Register</a></li>
                                            <li><a href="login">Login</a></li>
                                            {% endif %}
                                            <li><a class="" href="about">About</a></l/li>
                                           
                                            
                                            <li><a href="contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <div class="number">
                                        <p> <i class="fa fa-phone"></i> +91 82976 34009</p>
                                    </div>
                                    <div class="social_links d-none d-xl-block">
                                        <ul>
                                            <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="seach_icon">
                                <a  href="search">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="container" style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center bg-primary">
                        <h3 style="color: white;">Register</h3>
                    </div>
                    <div class="card-body bg-success">
                        <form action="register" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col">
                                  <input type="text" name="first_name" class="form-control" placeholder="First name" aria-label="First name">
                                </div>
                                <div class="col">
                                  <input type="text" class="form-control" name="last_name" placeholder="Last name" aria-label="Last name">
                                </div>
                              </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" id="username" placeholder="Enter your Username" name="username">
                            </div> 
                            <div class="mb-3 ">
                               
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                            </div>
                            <div class="mb-3">
                                
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your Password">
                            </div>
                            <div class="mb-3">
                               
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your Password">
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit">Register</button>
                              </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
       
        {% for messege in messages %}
        <h3 style="color: white;">{{messege}}</h3>
         {% endfor %}

         <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="{% static 'img/footer_logo.png' %}" alt="">
                                    </a>
                                </div>
                                <p>5/6a   Mpp School road, Udumuvaripalli <br> lane NH-716 <br>
                                    <a href="#">+91 82976 34009</a> <br>
                                    <a href="#">travello@gmail.com</a>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Company
                                </h3>
                                <ul class="links">
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Gallery</a></li>
                                    <li><a href="accounts/contact"> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Popular destination
                                </h3>
                                <ul class="links double_links">
                                    <li>Andaman</a></li>
                                    <li>Manali</li>
                                    <li>Kerala</li>
                                    <li>kedarnath</li>
                                    <li>Mahabalipuram</li>
                                    <li>Gokharna</li>
                                    <li>Goa</li>
                                    <li>Araku</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Instagram
                                </h3>
                                <div class="instagram_feed">
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/1.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/2.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/3.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/4.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/5.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="{% static 'img/instagram/6.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- link that opens popup -->
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
   

    
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>


    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
    </script>
</body>

</html>